
		{% block title %}
		{% endblock %}
		{% block js %}
		{% endblock %}
		{% block css %}
		{% endblock %}
		{% block head %}
		{% endblock %}

	
			{% block header %}
			{% endblock %}
		
			{% block nav %}
			{% endblock %}
		
			{% block content %}{% endblock %}
		
{%block footer %}<footer>
	<div id="footer-container">
	<div id="footer-inner">
	
    		<div id="copyright">
    		<p>&copy; Copyright 2013  Aamir Bhatt &nbsp;&nbsp;//&nbsp;&nbsp;Hosted by <a href="#">lorum ifsomum</a>&nbsp;&nbsp;//&nbsp;&nbsp;Powered by <a href="#">Lorum Ifsome</a></p>
    		</div>
    		
    		<div id="social">
    			<ul>
    			<li id="social-twitter"><a href="#"></a></li>
    			<li id="social-dribbble"><a href="#"></a></li>
    			<li id="social-flickr"><a href="#"></a></li>
    			</ul>
    		</div>
	
	</div><!-- end inner -->
	</div><!-- end container -->
	ashsvnb ashvd jkhnbsdc 
	</footer>
 {% endblock%}
